<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RS.Properties.Settings.DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\Ts-03\users\OGK\Кокшаров С.А\db\DB.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=6567604"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>